html {
  color: whitesmoke;
}
html:hover {
  color: red;
}
body {
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/006/429/629/large/poji-chow-pojic-halospartan-01render.jpg?1498541559);
  background-size: 100%;
}
#message {
  height: 200px;
  width: 100%;
  border-style: double;
  font-size: xx-large;
  font-style: italic;
  color: white;
  overflow: scroll;
}
#message:hover {
  color: gold;
}
#parent {
  height: 100%;
  width: 100%;
  border-style: double;
  display: grid;
  font-size: xx-large;
  font-style: italic;
  color: white;
}
#one {
  height: 200px;
  width: 100%;
  border-style: double;
  overflow: scroll;
}
#one:hover {
  color: green;
}
#two {
  height: 200px;
  width: 100%;
  border-style: double;
  overflow: scroll;
}
#two:hover {
  color: indigo;
}
#three {
  height: 200px;
  width: 100%;
  border-style: double;
  overflow: scroll;
}
#three:hover {
  color: yellowgreen;
}
#four {
  height: 200px;
  border-style: double;
  overflow: scroll;
}
#four:hover {
  color: peru;
}
#five {
  height: 200px;
  width: 100%;
  border-style: double;
  overflow: scroll;
}
#five:hover {
  color: blueviolet;
}
#six {
  height: 200px;
  width: 100%;
  border-style: double;
  overflow: scroll;
}
#six:hover {
  color: crimson;
}
#seven {
  height: 200px;
  width: 100%;
  border-style: double;
  overflow: scroll;
}
#seven:hover {
  color: darkgoldenrod;
}
#eight {
  height: 200px;
  width: 100%;
  border-style: double;
  overflow: scroll;
}
#eight:hover {
  color: darkred;
}
#nine {
  height: 200px;
  width: 100%;
  border-style: double;
  overflow: scroll;
}
#nine:hover {
  color: deepskyblue;
}
#ten {
  height: 200px;
  width: 100%;
  border-style: double;
  overflow: scroll;
}
#ten:hover {
  color: goldenrod;
}
#start {
  font-size: xx-large;
  font-style: oblique;
}
#start:hover {
  color: deepskyblue;
}
